<% content_for :title, "Editing additional" %>

<h1>Editing additional</h1>

<%= render "form", additional: @additional %>

<br>

<div>
  <%= link_to "Show this additional", @additional %> |
  <%= link_to "Back to additionals", additionals_path %>
</div>
