<p style="color: green"><%= notice %></p>

<% content_for :title, "Additionals" %>

<h1>Additionals</h1>

<div id="additionals">
  <% @additionals.each do |additional| %>
    <%= render additional %>
    <p>
      <%= link_to "Show this additional", additional %>
    </p>
  <% end %>
</div>

<%= link_to "New additional", new_additional_path %>
