<div id="<%= dom_id subscription %>">
  <p>
    <strong>Client:</strong>
    <%= subscription.client_id %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= subscription.package_id %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= subscription.plan_id %>
  </p>

</div>
